main/node-red-flow.json
[{"id":"c527767.5519d88","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"913e628a.1106f","type":"mqtt in","z":"c527767.5519d88","name":"","topic":"WEMOS_D1_R1","qos":"2","datatype":"auto","broker":"ed64561f.c95518","x":220,"y":100,"wires":[["b331b4d6.e6f088"]]},{"id":"1c123893.977ee7","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"room2/lamp","qos":"2","retain":"false","broker":"ed64561f.c95518","x":450,"y":220,"wires":[]},{"id":"b331b4d6.e6f088","type":"debug","z":"c527767.5519d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":100,"wires":[]},{"id":"e66f0a92.b333c8","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":90,"y":180,"wires":[["27ddff2d.504b5"]]},{"id":"e8dac17b.1fd09","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":90,"y":220,"wires":[["27ddff2d.504b5"]]},{"id":"9495e08a.8f4f9","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"hall/lamp1","qos":"2","retain":"false","broker":"ed64561f.c95518","x":470,"y":380,"wires":[]},{"id":"a26feb69.505638","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"hall/lamp2","qos":"2","retain":"false","broker":"ed64561f.c95518","x":470,"y":560,"wires":[]},{"id":"e5ea51a6.3a97d","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"hall/lamp3","qos":"2","retain":"false","broker":"ed64561f.c95518","x":490,"y":720,"wires":[]},{"id":"69ac7c5c.ea1e54","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"garden/lamp1","qos":"2","retain":"false","broker":"ed64561f.c95518","x":500,"y":900,"wires":[]},{"id":"f189b0fb.ae2cc","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"garden/lamp2","qos":"2","retain":"false","broker":"ed64561f.c95518","x":520,"y":1060,"wires":[]},{"id":"68ab3a56.4ac9c4","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":150,"y":340,"wires":[["c324edac.ca9bc"]]},{"id":"bcd5794e.1c07d8","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":150,"y":380,"wires":[["c324edac.ca9bc"]]},{"id":"da3c501c.aab5d","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":130,"y":520,"wires":[["2caf2845.5a68c8"]]},{"id":"d9c7837e.836b5","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":130,"y":560,"wires":[["2caf2845.5a68c8"]]},{"id":"7476e8ef.a5fd98","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":110,"y":680,"wires":[["e83a3dfb.5d8f8"]]},{"id":"84045653.e6d1a8","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":110,"y":720,"wires":[["e83a3dfb.5d8f8"]]},{"id":"e5eb742b.4d7998","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":110,"y":860,"wires":[["39cfe6a5.05480a"]]},{"id":"69080812.652d38","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":110,"y":900,"wires":[["39cfe6a5.05480a"]]},{"id":"85b4f02e.57619","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":90,"y":1020,"wires":[["8ea35a2f.2fac28"]]},{"id":"810256d6.b31318","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":90,"y":1060,"wires":[["8ea35a2f.2fac28"]]},{"id":"ba55dcef.26605","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":90,"y":1160,"wires":[["37eced45.68b6d2"]]},{"id":"28a9912f.fd00ce","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":90,"y":1220,"wires":[["37eced45.68b6d2"]]},{"id":"37eced45.68b6d2","type":"link out","z":"c527767.5519d88","name":"Control All","links":["5efb17ef.1c1ed8","7795d8c2.493cd8","8904b9e6.5dd438","20e843b7.644a5c","f147b8b1.64e478","527ea234.75243c","9a9db94e.998938","fb4b9011.7299","6fff681c.e2e3b8","4da30fb2.e1d8e","c11a3fc6.cb786"],"x":225,"y":1160,"wires":[]},{"id":"b65f5089.78ea2","type":"mysql","z":"c527767.5519d88","mydb":"46b3a359.c2fbcc","name":"","x":180,"y":1300,"wires":[["7abd209c.0fc0b"]]},{"id":"7abd209c.0fc0b","type":"debug","z":"c527767.5519d88","name":"relay sql debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1300,"wires":[]},{"id":"7130377c.3311c8","type":"link in","z":"c527767.5519d88","name":"","links":["49374b79.67ac04","4e321b7c.5b9594","59a765a9.f0c84c","8885559e.c84638","978e6654.8cef78","b75b4ada.7f5958"],"x":84,"y":1299.4000244140625,"wires":[["b65f5089.78ea2"]]},{"id":"c8794588.203628","type":"template","z":"c527767.5519d88","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"room2\",\"relay0 ,lamp: {{payload}}\");","output":"str","x":400,"y":180,"wires":[["4e321b7c.5b9594"]]},{"id":"4e321b7c.5b9594","type":"link out","z":"c527767.5519d88","name":"room2/lamp0","links":["7130377c.3311c8"],"x":495,"y":180,"wires":[]},{"id":"72f719b3.121a08","type":"template","z":"c527767.5519d88","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"hall\",\"relay1 ,lamp: {{payload}}\");","output":"str","x":460,"y":340,"wires":[["49374b79.67ac04"]]},{"id":"49374b79.67ac04","type":"link out","z":"c527767.5519d88","name":"hall/lamp","links":["7130377c.3311c8"],"x":555,"y":340,"wires":[]},{"id":"c895648f.fa4b08","type":"template","z":"c527767.5519d88","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"hall\",\"relay2 ,lamp2: {{payload}}\");","output":"str","x":460,"y":520,"wires":[["b75b4ada.7f5958"]]},{"id":"b75b4ada.7f5958","type":"link out","z":"c527767.5519d88","name":"hall/lamp2","links":["7130377c.3311c8"],"x":555,"y":520,"wires":[]},{"id":"794458ee.b2da88","type":"template","z":"c527767.5519d88","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"hall\",\"relay3 ,lamp3: {{payload}}\");","output":"str","x":480,"y":680,"wires":[["59a765a9.f0c84c"]]},{"id":"59a765a9.f0c84c","type":"link out","z":"c527767.5519d88","name":"hall/lamp3","links":["7130377c.3311c8"],"x":575,"y":680,"wires":[]},{"id":"8bf77a84.5645c8","type":"template","z":"c527767.5519d88","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"garden\",\"relay4 ,lamp: {{payload}}\");","output":"str","x":480,"y":860,"wires":[["978e6654.8cef78"]]},{"id":"978e6654.8cef78","type":"link out","z":"c527767.5519d88","name":"garden/lamp","links":["7130377c.3311c8"],"x":575,"y":860,"wires":[]},{"id":"8e95e7de.e24748","type":"template","z":"c527767.5519d88","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"garden\",\"relay5 ,lamp2: {{payload}}\");","output":"str","x":500,"y":1020,"wires":[["8885559e.c84638"]]},{"id":"8885559e.c84638","type":"link out","z":"c527767.5519d88","name":"garden/lamp2","links":["7130377c.3311c8"],"x":595,"y":1020,"wires":[]},{"id":"7b21ecef.86f5d4","type":"comment","z":"c527767.5519d88","name":"link out is from template to send data down below to save into sql database","info":"## Query\nINSERT INTO RelayControl (place, relay_spec) \nvalues (\"room2\",\"relay0 ,lamp: {{payload}}\");\n\n## Database\nnode_red","x":780,"y":160,"wires":[]},{"id":"527ea234.75243c","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":115,"y":140,"wires":[["27ddff2d.504b5"]]},{"id":"9a9db94e.998938","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":175,"y":300,"wires":[["c324edac.ca9bc"]]},{"id":"fb4b9011.7299","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":155,"y":480,"wires":[["2caf2845.5a68c8"]]},{"id":"6fff681c.e2e3b8","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":155,"y":640,"wires":[["e83a3dfb.5d8f8"]]},{"id":"4da30fb2.e1d8e","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":135,"y":820,"wires":[["39cfe6a5.05480a"]]},{"id":"c11a3fc6.cb786","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":95,"y":980,"wires":[["8ea35a2f.2fac28"]]},{"id":"29de0ec4.19c082","type":"comment","z":"c527767.5519d88","name":"Link in for templates are used for turning on and of all lamps and save in database","info":"","x":300,"y":40,"wires":[]},{"id":"7f31e31d.396bdc","type":"comment","z":"c527767.5519d88","name":"link out is from template to send data down below to save into sql database","info":"## Query\nINSERT INTO RelayControl (place, relay_spec) \nvalues (\"hall\",\"relay1 ,lamp: {{payload}}\");\n\n## Database\nnode_red","x":860,"y":340,"wires":[]},{"id":"dee9fd9e.77ee4","type":"comment","z":"c527767.5519d88","name":"link out is from template to send data down below to save into sql database","info":"## Query\nINSERT INTO RelayControl (place, relay_spec) \nvalues (\"hall\",\"relay2 ,lamp2: {{payload}}\");\n\n## Database\nnode_red","x":840,"y":540,"wires":[]},{"id":"fc961508.89fb98","type":"comment","z":"c527767.5519d88","name":"link out is from template to send data down below to save into sql database","info":"## Query\nINSERT INTO RelayControl (place, relay_spec) \nvalues (\"garden\",\"relay4 ,lamp: {{payload}}\");\n\n## Database\nnode_red","x":840,"y":720,"wires":[]},{"id":"f142760c.5ae9a8","type":"comment","z":"c527767.5519d88","name":"link out is from template to send data down below to save into sql database","info":"## Query\nINSERT INTO RelayControl (place, relay_spec) \nvalues (\"hall\",\"relay2 ,lamp2: {{payload}}\");\n\n## Database\nnode_red","x":820,"y":820,"wires":[]},{"id":"1d60601f.3257d","type":"comment","z":"c527767.5519d88","name":"link out is from template to send data down below to save into sql database","info":"## Query\nINSERT INTO RelayControl (place, relay_spec) \nvalues (\"garden\",\"relay5 ,lamp2: {{payload}}\");\n\n## Database\nnode_red","x":800,"y":980,"wires":[]},{"id":"77b9db6e.fd71c4","type":"comment","z":"c527767.5519d88","name":"Turn all On or Off","info":"","x":380,"y":1200,"wires":[]},{"id":"e24f0c5e.2730c","type":"comment","z":"c527767.5519d88","name":"debug a message when the device connect","info":"","x":740,"y":100,"wires":[]},{"id":"180c8a78.cb70d6","type":"comment","z":"c527767.5519d88","name":"Save in database","info":"","x":600,"y":1300,"wires":[]},{"id":"31388206.b3ea3e","type":"ui_switch","z":"c527767.5519d88","name":"","label":"room 2 lamp","tooltip":"","group":"d10713f8.a5aa8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#OFF","offvalueType":"str","officon":"","offcolor":"","x":90,"y":260,"wires":[["27ddff2d.504b5"]]},{"id":"d78fd7b2.94f148","type":"ui_switch","z":"c527767.5519d88","name":"","label":"hall lamp","tooltip":"","group":"d10713f8.a5aa8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#OFF","offvalueType":"str","officon":"","offcolor":"","x":140,"y":420,"wires":[["c324edac.ca9bc"]]},{"id":"962a7118.9bba1","type":"ui_switch","z":"c527767.5519d88","name":"","label":"hall lamp 2","tooltip":"","group":"d10713f8.a5aa8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#OFF","offvalueType":"str","officon":"","offcolor":"","x":110,"y":600,"wires":[["2caf2845.5a68c8"]]},{"id":"f22bf54d.1ca698","type":"ui_switch","z":"c527767.5519d88","name":"","label":"hall lamp 3","tooltip":"","group":"d10713f8.a5aa8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#OFF","offvalueType":"str","officon":"","offcolor":"","x":90,"y":760,"wires":[["e83a3dfb.5d8f8"]]},{"id":"69f9ad89.1e9014","type":"ui_switch","z":"c527767.5519d88","name":"","label":"garden lamp 1","tooltip":"","group":"d10713f8.a5aa8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#OFF","offvalueType":"str","officon":"","offcolor":"","x":100,"y":940,"wires":[["39cfe6a5.05480a"]]},{"id":"213b1997.5a3f86","type":"ui_switch","z":"c527767.5519d88","name":"","label":"garden lamp 2","tooltip":"","group":"d10713f8.a5aa8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#OFF","offvalueType":"str","officon":"","offcolor":"","x":80,"y":1100,"wires":[["8ea35a2f.2fac28"]]},{"id":"27ddff2d.504b5","type":"trigger","z":"c527767.5519d88","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":200,"wires":[["1c123893.977ee7","c8794588.203628"]]},{"id":"c324edac.ca9bc","type":"trigger","z":"c527767.5519d88","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":320,"y":360,"wires":[["72f719b3.121a08","9495e08a.8f4f9"]]},{"id":"2caf2845.5a68c8","type":"trigger","z":"c527767.5519d88","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":286,"y":540.7999877929688,"wires":[["c895648f.fa4b08","a26feb69.505638"]]},{"id":"e83a3dfb.5d8f8","type":"trigger","z":"c527767.5519d88","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":280,"y":700,"wires":[["794458ee.b2da88","e5ea51a6.3a97d"]]},{"id":"39cfe6a5.05480a","type":"trigger","z":"c527767.5519d88","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":288,"y":882,"wires":[["8bf77a84.5645c8","69ac7c5c.ea1e54"]]},{"id":"8ea35a2f.2fac28","type":"trigger","z":"c527767.5519d88","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":290,"y":1050,"wires":[["8e95e7de.e24748","f189b0fb.ae2cc"]]},{"id":"ed64561f.c95518","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46b3a359.c2fbcc","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"node_red","tz":"","charset":"UTF8"},{"id":"d10713f8.a5aa8","type":"ui_group","z":"","name":"Default","tab":"75f7f422.7b769c","order":1,"disp":true,"width":"10","collapse":false},{"id":"75f7f422.7b769c","type":"ui_tab","z":"","name":"Smart Home","icon":"dashboard","disabled":false,"hidden":false}]