main/node-red-flow.json
[{"id":"c527767.5519d88","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"913e628a.1106f","type":"mqtt in","z":"c527767.5519d88","name":"","topic":"WEMOS_D1_R1","qos":"2","datatype":"auto","broker":"ed64561f.c95518","x":150,"y":100,"wires":[["b331b4d6.e6f088"]]},{"id":"1c123893.977ee7","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"room2/lamp","qos":"2","retain":"false","broker":"ed64561f.c95518","x":430,"y":220,"wires":[]},{"id":"b331b4d6.e6f088","type":"debug","z":"c527767.5519d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":100,"wires":[]},{"id":"e66f0a92.b333c8","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":150,"y":180,"wires":[["1c123893.977ee7"]]},{"id":"e8dac17b.1fd09","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":150,"y":260,"wires":[["1c123893.977ee7"]]},{"id":"9495e08a.8f4f9","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"hall/lamp1","qos":"2","retain":"false","broker":"ed64561f.c95518","x":430,"y":380,"wires":[]},{"id":"a26feb69.505638","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"hall/lamp2","qos":"2","retain":"false","broker":"ed64561f.c95518","x":430,"y":560,"wires":[]},{"id":"e5ea51a6.3a97d","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"hall/lamp3","qos":"2","retain":"false","broker":"ed64561f.c95518","x":430,"y":720,"wires":[]},{"id":"69ac7c5c.ea1e54","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"garden/lamp1","qos":"2","retain":"false","broker":"ed64561f.c95518","x":440,"y":900,"wires":[]},{"id":"f189b0fb.ae2cc","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"garden/lamp2","qos":"2","retain":"false","broker":"ed64561f.c95518","x":440,"y":1060,"wires":[]},{"id":"68ab3a56.4ac9c4","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":150,"y":340,"wires":[["9495e08a.8f4f9"]]},{"id":"bcd5794e.1c07d8","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":150,"y":420,"wires":[["9495e08a.8f4f9"]]},{"id":"da3c501c.aab5d","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":150,"y":520,"wires":[["a26feb69.505638"]]},{"id":"d9c7837e.836b5","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":150,"y":600,"wires":[["a26feb69.505638"]]},{"id":"7476e8ef.a5fd98","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":150,"y":680,"wires":[["e5ea51a6.3a97d"]]},{"id":"84045653.e6d1a8","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":150,"y":760,"wires":[["e5ea51a6.3a97d"]]},{"id":"e5eb742b.4d7998","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":150,"y":860,"wires":[["69ac7c5c.ea1e54"]]},{"id":"69080812.652d38","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":150,"y":940,"wires":[["69ac7c5c.ea1e54"]]},{"id":"85b4f02e.57619","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":150,"y":1020,"wires":[["f189b0fb.ae2cc"]]},{"id":"810256d6.b31318","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":150,"y":1100,"wires":[["f189b0fb.ae2cc"]]},{"id":"ba55dcef.26605","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":730,"y":660,"wires":[["37eced45.68b6d2"]]},{"id":"28a9912f.fd00ce","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":730,"y":720,"wires":[["37eced45.68b6d2"]]},{"id":"37eced45.68b6d2","type":"link out","z":"c527767.5519d88","name":"Control All","links":["5efb17ef.1c1ed8","7795d8c2.493cd8","8904b9e6.5dd438","20e843b7.644a5c","f147b8b1.64e478"],"x":865,"y":660,"wires":[]},{"id":"7795d8c2.493cd8","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":275,"y":300,"wires":[["1c123893.977ee7","9495e08a.8f4f9"]]},{"id":"5efb17ef.1c1ed8","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":275,"y":480,"wires":[["9495e08a.8f4f9","a26feb69.505638"]]},{"id":"8904b9e6.5dd438","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":295,"y":640,"wires":[["a26feb69.505638","e5ea51a6.3a97d"]]},{"id":"20e843b7.644a5c","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":275,"y":800,"wires":[["e5ea51a6.3a97d","69ac7c5c.ea1e54"]]},{"id":"f147b8b1.64e478","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2"],"x":262.3999938964844,"y":984.7999877929688,"wires":[["69ac7c5c.ea1e54","f189b0fb.ae2cc"]]},{"id":"ed64561f.c95518","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]