main/node-red-flow.json
[{"id":"99a0123b.f5edf","type":"subflow","name":"Boards startup","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"62b3a263.cac6bc"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ca8524cc.c61198","type":"mysql","z":"99a0123b.f5edf","mydb":"46b3a359.c2fbcc","name":"","x":520,"y":100,"wires":[[]]},{"id":"62b3a263.cac6bc","type":"template","z":"99a0123b.f5edf","name":"Save connection time for boards","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO\nboard_connection ( board_name ) \nvalues ( \"{{payload}}\");\n","output":"str","x":270,"y":100,"wires":[["ca8524cc.c61198"]]},{"id":"c527767.5519d88","type":"tab","label":"Hall and garden","disabled":false,"info":""},{"id":"913e628a.1106f","type":"mqtt in","z":"c527767.5519d88","name":"","topic":"WEMOS_D1_R1","qos":"2","datatype":"auto","broker":"ed64561f.c95518","x":140,"y":100,"wires":[["b331b4d6.e6f088","ae948eed.0aa41"]]},{"id":"1c123893.977ee7","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"room2/lamp","qos":"2","retain":"false","broker":"ed64561f.c95518","x":690,"y":240,"wires":[]},{"id":"b331b4d6.e6f088","type":"debug","z":"c527767.5519d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":100,"wires":[]},{"id":"e66f0a92.b333c8","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":110,"y":200,"wires":[["31388206.b3ea3e"]]},{"id":"e8dac17b.1fd09","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":110,"y":240,"wires":[["31388206.b3ea3e"]]},{"id":"9495e08a.8f4f9","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"hall/lamp1","qos":"2","retain":"false","broker":"ed64561f.c95518","x":670,"y":400,"wires":[]},{"id":"a26feb69.505638","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"hall/lamp2","qos":"2","retain":"false","broker":"ed64561f.c95518","x":670,"y":560,"wires":[]},{"id":"e5ea51a6.3a97d","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"hall/lamp3","qos":"2","retain":"false","broker":"ed64561f.c95518","x":670,"y":680,"wires":[]},{"id":"69ac7c5c.ea1e54","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"garden/lamp1","qos":"2","retain":"false","broker":"ed64561f.c95518","x":740,"y":900,"wires":[]},{"id":"f189b0fb.ae2cc","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"garden/lamp2","qos":"2","retain":"false","broker":"ed64561f.c95518","x":720,"y":1060,"wires":[]},{"id":"68ab3a56.4ac9c4","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":110,"y":340,"wires":[["d78fd7b2.94f148"]]},{"id":"bcd5794e.1c07d8","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":110,"y":380,"wires":[["d78fd7b2.94f148"]]},{"id":"da3c501c.aab5d","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":130,"y":520,"wires":[["962a7118.9bba1"]]},{"id":"d9c7837e.836b5","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":130,"y":560,"wires":[["962a7118.9bba1"]]},{"id":"7476e8ef.a5fd98","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":110,"y":680,"wires":[["f22bf54d.1ca698"]]},{"id":"84045653.e6d1a8","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":110,"y":720,"wires":[["f22bf54d.1ca698"]]},{"id":"e5eb742b.4d7998","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":110,"y":860,"wires":[["69f9ad89.1e9014"]]},{"id":"69080812.652d38","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":110,"y":900,"wires":[["69f9ad89.1e9014"]]},{"id":"85b4f02e.57619","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":90,"y":1020,"wires":[["213b1997.5a3f86"]]},{"id":"810256d6.b31318","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":90,"y":1060,"wires":[["213b1997.5a3f86"]]},{"id":"ba55dcef.26605","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":90,"y":1460,"wires":[["37eced45.68b6d2"]]},{"id":"28a9912f.fd00ce","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":90,"y":1500,"wires":[["37eced45.68b6d2"]]},{"id":"37eced45.68b6d2","type":"link out","z":"c527767.5519d88","name":"Control All","links":["5efb17ef.1c1ed8","7795d8c2.493cd8","8904b9e6.5dd438","20e843b7.644a5c","f147b8b1.64e478","527ea234.75243c","9a9db94e.998938","fb4b9011.7299","6fff681c.e2e3b8","4da30fb2.e1d8e","c11a3fc6.cb786","d9badf2.9c5122","f37a0693.967e68"],"x":225,"y":1460,"wires":[]},{"id":"b65f5089.78ea2","type":"mysql","z":"c527767.5519d88","mydb":"46b3a359.c2fbcc","name":"node_red database","x":410,"y":1660,"wires":[["7abd209c.0fc0b"]]},{"id":"7abd209c.0fc0b","type":"debug","z":"c527767.5519d88","name":"relay sql debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":1660,"wires":[]},{"id":"7130377c.3311c8","type":"link in","z":"c527767.5519d88","name":"","links":["49374b79.67ac04","4e321b7c.5b9594","59a765a9.f0c84c","8885559e.c84638","978e6654.8cef78","b75b4ada.7f5958","c2d1d43f.bee538","f99ba280.f7a31"],"x":55,"y":1600,"wires":[["44249708.3b4a58"]]},{"id":"c8794588.203628","type":"template","z":"c527767.5519d88","name":"sql insert query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"room2\",\"relay0 ,lamp: {{payload}}\");","output":"str","x":680,"y":200,"wires":[["4e321b7c.5b9594"]]},{"id":"4e321b7c.5b9594","type":"link out","z":"c527767.5519d88","name":"room2/lamp0","links":["7130377c.3311c8"],"x":795,"y":200,"wires":[]},{"id":"72f719b3.121a08","type":"template","z":"c527767.5519d88","name":"sql insert query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"hall\",\"relay1 ,lamp: {{payload}}\");","output":"str","x":680,"y":360,"wires":[["49374b79.67ac04"]]},{"id":"49374b79.67ac04","type":"link out","z":"c527767.5519d88","name":"hall/lamp","links":["7130377c.3311c8"],"x":795,"y":360,"wires":[]},{"id":"c895648f.fa4b08","type":"template","z":"c527767.5519d88","name":"sql insert query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"hall\",\"relay2 ,lamp2: {{payload}}\");","output":"str","x":680,"y":520,"wires":[["b75b4ada.7f5958"]]},{"id":"b75b4ada.7f5958","type":"link out","z":"c527767.5519d88","name":"hall/lamp2","links":["7130377c.3311c8"],"x":795,"y":520,"wires":[]},{"id":"794458ee.b2da88","type":"template","z":"c527767.5519d88","name":"sql insert query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"hall\",\"relay3 ,lamp3: {{payload}}\");","output":"str","x":680,"y":640,"wires":[["59a765a9.f0c84c"]]},{"id":"59a765a9.f0c84c","type":"link out","z":"c527767.5519d88","name":"hall/lamp3","links":["7130377c.3311c8"],"x":795,"y":640,"wires":[]},{"id":"8bf77a84.5645c8","type":"template","z":"c527767.5519d88","name":"sql insert query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"garden\",\"relay4 ,lamp: {{payload}}\");","output":"str","x":740,"y":860,"wires":[["978e6654.8cef78"]]},{"id":"978e6654.8cef78","type":"link out","z":"c527767.5519d88","name":"garden/lamp","links":["7130377c.3311c8"],"x":875,"y":860,"wires":[]},{"id":"8e95e7de.e24748","type":"template","z":"c527767.5519d88","name":"sql insert query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"garden\",\"relay5 ,lamp2: {{payload}}\");","output":"str","x":720,"y":1020,"wires":[["8885559e.c84638"]]},{"id":"8885559e.c84638","type":"link out","z":"c527767.5519d88","name":"garden/lamp2","links":["7130377c.3311c8"],"x":835,"y":1020,"wires":[]},{"id":"7b21ecef.86f5d4","type":"comment","z":"c527767.5519d88","name":"link outs from templates are to send data down below to save into sql database","info":"\n## Database\nnode_red","x":1050,"y":240,"wires":[]},{"id":"527ea234.75243c","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2","f37bb727.f27718"],"x":135,"y":160,"wires":[["31388206.b3ea3e"]]},{"id":"9a9db94e.998938","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2","f37bb727.f27718"],"x":175,"y":300,"wires":[["d78fd7b2.94f148"]]},{"id":"fb4b9011.7299","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2","f37bb727.f27718"],"x":155,"y":480,"wires":[["962a7118.9bba1"]]},{"id":"6fff681c.e2e3b8","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2","f37bb727.f27718"],"x":155,"y":640,"wires":[["f22bf54d.1ca698"]]},{"id":"4da30fb2.e1d8e","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2","f37bb727.f27718"],"x":135,"y":820,"wires":[["69f9ad89.1e9014"]]},{"id":"c11a3fc6.cb786","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2","f37bb727.f27718"],"x":95,"y":980,"wires":[["213b1997.5a3f86"]]},{"id":"29de0ec4.19c082","type":"comment","z":"c527767.5519d88","name":"Link in for templates are used for turning on and of all lamps and save in database","info":"","x":300,"y":40,"wires":[]},{"id":"77b9db6e.fd71c4","type":"comment","z":"c527767.5519d88","name":"Turn all On or Off","info":"","x":380,"y":1480,"wires":[]},{"id":"e24f0c5e.2730c","type":"comment","z":"c527767.5519d88","name":"debug a message when the device connect","info":"","x":740,"y":100,"wires":[]},{"id":"180c8a78.cb70d6","type":"comment","z":"c527767.5519d88","name":"Save in database","info":"","x":720,"y":1800,"wires":[]},{"id":"31388206.b3ea3e","type":"ui_switch","z":"c527767.5519d88","name":"","label":"room 2 lamp","tooltip":"","group":"d10713f8.a5aa8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":290,"y":220,"wires":[["1e6773a6.ee47cc"]]},{"id":"d78fd7b2.94f148","type":"ui_switch","z":"c527767.5519d88","name":"","label":"room","tooltip":"","group":"d10713f8.a5aa8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":310,"y":380,"wires":[["a6c7a2b3.ff7a5"]]},{"id":"962a7118.9bba1","type":"ui_switch","z":"c527767.5519d88","name":"","label":"hall lamp 2","tooltip":"","group":"d10713f8.a5aa8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":290,"y":540,"wires":[["6ba6e02f.1d5d3"]]},{"id":"f22bf54d.1ca698","type":"ui_switch","z":"c527767.5519d88","name":"","label":"hall lamp 3","tooltip":"","group":"d10713f8.a5aa8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":290,"y":680,"wires":[["94b21df7.1ca78"]]},{"id":"69f9ad89.1e9014","type":"ui_switch","z":"c527767.5519d88","name":"","label":"garden lamp 1","tooltip":"","group":"d10713f8.a5aa8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":300,"y":880,"wires":[["e8504180.63fb7"]]},{"id":"213b1997.5a3f86","type":"ui_switch","z":"c527767.5519d88","name":"","label":"garden lamp 2","tooltip":"","group":"d10713f8.a5aa8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":340,"y":1040,"wires":[["b60bd245.40cff"]]},{"id":"44249708.3b4a58","type":"delay","z":"c527767.5519d88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":1600,"wires":[[]]},{"id":"b60bd245.40cff","type":"delay","z":"c527767.5519d88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1040,"wires":[["8e95e7de.e24748","f189b0fb.ae2cc"]]},{"id":"e8504180.63fb7","type":"delay","z":"c527767.5519d88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":880,"wires":[["8bf77a84.5645c8","69ac7c5c.ea1e54"]]},{"id":"94b21df7.1ca78","type":"delay","z":"c527767.5519d88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":680,"wires":[["794458ee.b2da88","e5ea51a6.3a97d"]]},{"id":"6ba6e02f.1d5d3","type":"delay","z":"c527767.5519d88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":540,"wires":[["c895648f.fa4b08","a26feb69.505638"]]},{"id":"a6c7a2b3.ff7a5","type":"delay","z":"c527767.5519d88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":380,"wires":[["72f719b3.121a08","9495e08a.8f4f9"]]},{"id":"1e6773a6.ee47cc","type":"delay","z":"c527767.5519d88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":220,"wires":[["c8794588.203628","1c123893.977ee7"]]},{"id":"238f66ac.8d226a","type":"ui_toast","z":"c527767.5519d88","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":460,"y":1600,"wires":[]},{"id":"5154692d.727338","type":"mysql","z":"c527767.5519d88","mydb":"46b3a359.c2fbcc","name":"node_red database","x":510,"y":1800,"wires":[[]]},{"id":"a8ffaca7.644ce","type":"template","z":"c527767.5519d88","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select temperature from temp_hum limit 30;","output":"str","x":300,"y":1800,"wires":[["5154692d.727338"]]},{"id":"c4fbf0df.0df1c","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1800,"wires":[["a8ffaca7.644ce"]]},{"id":"5a91213d.00304","type":"e-mail","z":"c527767.5519d88","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"dadgaramin5@gmail.com","dname":"","x":650,"y":1880,"wires":[]},{"id":"b013d3d7.296bf","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Node-red","payload":"Hello from Node-red","payloadType":"str","x":150,"y":1880,"wires":[["465750df.66ea9"]]},{"id":"acfc3fe7.15b2c","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"garden/lamp3","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ed64561f.c95518","x":720,"y":1220,"wires":[]},{"id":"46c54781.0c3498","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":90,"y":1180,"wires":[["dd1e5c24.cb663"]]},{"id":"ea8f9401.82a338","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":90,"y":1220,"wires":[["dd1e5c24.cb663"]]},{"id":"379ef538.71425a","type":"template","z":"c527767.5519d88","name":"sql insert query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"garden\",\"relay5 ,lamp2: {{payload}}\");","output":"str","x":720,"y":1180,"wires":[["c2d1d43f.bee538"]]},{"id":"c2d1d43f.bee538","type":"link out","z":"c527767.5519d88","name":"garden/lamp2","links":["7130377c.3311c8"],"x":835,"y":1180,"wires":[]},{"id":"d9badf2.9c5122","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2","f37bb727.f27718"],"x":95,"y":1140,"wires":[["dd1e5c24.cb663"]]},{"id":"dd1e5c24.cb663","type":"ui_switch","z":"c527767.5519d88","name":"","label":"garden lamp 3","tooltip":"","group":"d10713f8.a5aa8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":320,"y":1200,"wires":[["c2f7ce25.21b73"]]},{"id":"c2f7ce25.21b73","type":"delay","z":"c527767.5519d88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1200,"wires":[["379ef538.71425a","acfc3fe7.15b2c"]]},{"id":"dfbc9e24.9783e","type":"mqtt out","z":"c527767.5519d88","name":"","topic":"garden/lamp4","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ed64561f.c95518","x":720,"y":1360,"wires":[]},{"id":"1ddb2fde.1a29b","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#on","payloadType":"str","x":90,"y":1320,"wires":[["93fc1532.a76cb8"]]},{"id":"fac66471.48a308","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#off","payloadType":"str","x":90,"y":1360,"wires":[["93fc1532.a76cb8"]]},{"id":"43250549.2d559c","type":"template","z":"c527767.5519d88","name":"sql insert query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO RelayControl (place, relay_spec) \nvalues (\"garden\",\"relay5 ,lamp2: {{payload}}\");","output":"str","x":720,"y":1320,"wires":[["f99ba280.f7a31"]]},{"id":"f99ba280.f7a31","type":"link out","z":"c527767.5519d88","name":"garden/lamp2","links":["7130377c.3311c8"],"x":835,"y":1320,"wires":[]},{"id":"f37a0693.967e68","type":"link in","z":"c527767.5519d88","name":"","links":["37eced45.68b6d2","f37bb727.f27718"],"x":95,"y":1280,"wires":[["93fc1532.a76cb8"]]},{"id":"93fc1532.a76cb8","type":"ui_switch","z":"c527767.5519d88","name":"","label":"garden lamp 4","tooltip":"","group":"d10713f8.a5aa8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":340,"y":1340,"wires":[["30aa18a1.27cca8"]]},{"id":"30aa18a1.27cca8","type":"delay","z":"c527767.5519d88","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1340,"wires":[["43250549.2d559c","dfbc9e24.9783e"]]},{"id":"f487fc63.4a001","type":"ui_switch","z":"c527767.5519d88","name":"","label":"control all","tooltip":"","group":"d10713f8.a5aa8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"#on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"#off","offvalueType":"str","officon":"","offcolor":"","x":80,"y":1540,"wires":[["37eced45.68b6d2"]]},{"id":"e5e9ae09.34c598","type":"comment","z":"c527767.5519d88","name":"Connect this node for production ","info":"","x":170,"y":1680,"wires":[]},{"id":"98d7e37f.7a6f6","type":"template","z":"c527767.5519d88","name":"insert sql query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO temp_hum(temperature, humidity,place) \nvalues ({{payload}}, \n{{humidity}},\n\"outside\");","output":"str","x":540,"y":2040,"wires":[["27ce65d5.d8eeea","ddba00ae.5946f","70982fa8.dff2c"]]},{"id":"27ce65d5.d8eeea","type":"debug","z":"c527767.5519d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":2040,"wires":[]},{"id":"ddba00ae.5946f","type":"mysql","z":"c527767.5519d88","mydb":"46b3a359.c2fbcc","name":"","x":740,"y":2080,"wires":[["808e534b.7275e"]]},{"id":"808e534b.7275e","type":"debug","z":"c527767.5519d88","name":"Garden sensor sql debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":2080,"wires":[]},{"id":"2e6aa2e7.8f54ce","type":"comment","z":"c527767.5519d88","name":"Save temperature and humidity in database","info":"## Query\nINSERT INTO temp_hum(temperature, humidity,time,place) \nvalues ({{temperature}}, \n{{humidity}},\"{{myymd}} {{mytimes}}\",\n\"room1\");\n\n## Database\nnode_red","x":750,"y":1980,"wires":[]},{"id":"8ada9a48.f19e98","type":"ui_text","z":"c527767.5519d88","group":"d10713f8.a5aa8","order":1,"width":0,"height":0,"name":"","label":"Outside Temperature","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":2140,"wires":[]},{"id":"70982fa8.dff2c","type":"template","z":"c527767.5519d88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"🌡 temperature: {{payload}} C <br>\n\n💧 humidity: {{humidity}}%","output":"str","x":700,"y":2140,"wires":[["8ada9a48.f19e98"]]},{"id":"bbf0e454.af95a8","type":"rpi-dht22","z":"c527767.5519d88","name":"temperature sensor GPIO18","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"18","x":320,"y":2040,"wires":[["98d7e37f.7a6f6"]]},{"id":"4cb93370.9491fc","type":"inject","z":"c527767.5519d88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":"45","topic":"","payload":"","payloadType":"date","x":110,"y":2040,"wires":[["bbf0e454.af95a8"]]},{"id":"ae948eed.0aa41","type":"subflow:99a0123b.f5edf","z":"c527767.5519d88","name":"","x":380,"y":140,"wires":[]},{"id":"465750df.66ea9","type":"file","z":"c527767.5519d88","name":"","filename":"/home/pi/cam.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":410,"y":1880,"wires":[["f0d0c95d.c38598"]]},{"id":"f0d0c95d.c38598","type":"image","z":"c527767.5519d88","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":430,"y":1960,"wires":[]},{"id":"ed64561f.c95518","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46b3a359.c2fbcc","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"node_red","tz":"","charset":"UTF8"},{"id":"d10713f8.a5aa8","type":"ui_group","name":"Hall ","tab":"75f7f422.7b769c","order":1,"disp":true,"width":"9","collapse":false},{"id":"75f7f422.7b769c","type":"ui_tab","name":"Smart Home","icon":"fa-home","order":1,"disabled":false,"hidden":false}]